<div class="message" id="message-<%= message.id %>">
  <div class="message-inner" style="background-color:<%= message.user.color %>">
<%# 自分のコメント %>
    <% if current_user.id==message.user.id %>
    <div class="msg-own">
      <div class="user-img">
        <img src="<%= message.user.img %>">
      </div>
      <div class="msg-info">
        <p><%= message.id %>. <%= message.user.user_name %> : <%= l message.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %>
        </p>
        <% if message.user.color==nil %>
        <div class="msg-text">
          <h5 style="background-color:#edf1ee">
            <%= link_to("/messages/#{message.id}", method: :delete, class: "mt-2", data: { confirm: "メッセージを削除しますか？" }) do %>
            <div><%= simple_format(h(message.content)) %></div>
            <% end %>
          </h5>
        </div>
        <%= link_to("/messages/#{message.id}", method: :delete, class: "mt-2", data: { confirm: "メッセージを削除しますか？" }) do %>
        <div><%= image_tag message.img.url if message.img?%></div>
        <%end%>
        <%else%>
        <div class="msg-text">
          <h5 style="background-color:<%= message.user.color %>">
            <%= link_to("/messages/#{message.id}", method: :delete, class: "mt-2", data: { confirm: "メッセージを削除しますか？" }) do %>
            <div><%= simple_format(h(message.content)) %></div>
            <% end %>
          </h5>
        </div>
        <%= link_to("/messages/#{message.id}", method: :delete, class: "mt-2", data: { confirm: "メッセージを削除しますか？" }) do %>
        <div><%= image_tag message.img.url if message.img?%></div>
        <%end%>
        <%end%>
      </div>
    </div>
    <%else%>
    <%# 自分以外のユーザーのコメント %>
    <div class="msg-other">
      <div class="user-img">
        <img src="<%= message.user.img %>">
      </div>
      <div class="msg-info">
        <p><%= message.id %>. <%= message.user.user_name %> : <%= l message.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %>
        </p>
        <% if message.user.color == nil %>
        <div class="msg-text" style="background-color:#edf1ee">
          <span class="inner">
            <%= simple_format(h(message.content)) %>
          </span>
        </div>
        <div><%= image_tag message.img.url if message.img?%></div>
        <%else%>
        <div class="msg-text" class="msg-inner" style="background-color:<%= message.user.color %>">
          <span>
            <%= simple_format(h(message.content)) %>
          </span>
        </div>
        <div><%= image_tag message.img.url if message.img?%></div>
        <%end%>
      </div>
    </div>
    <%end%>
  </div>
</div>
