<% @schedules_show.each do |schedule| %>
   <%if schedule.created_at > Time.current-1.minute %>
    <div class="card sch-card">
      <p class="card-text">
      <span class="new-card">NEW</span><%= l schedule.start_time, format: '%Y年%-m月%-d日(%a)%H:%M' %>  
      <%= link_to schedule.title, "/schedules/#{schedule.id}" %>
    </p>
  </div>
<%elsif schedule.created_at > Time.current-2.minute %>
    <div class="card sch-card">
      <p class="card-text">
        <%= l schedule.start_time, format: '%Y年%-m月%-d日(%a)%H:%M' %> 
        <%= link_to schedule.title, "/schedules/#{schedule.id}" %>
      </p>
  </div>
    <% else %>
    <div id="schedule_list">
    <%= render 'schedule_more' %>
    </div>
    

    <% end %>
    <% end %>