<!-- スケジュール入力のModal -->
<div class="col-12 tasks">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新規スケジュール</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_with model: @schedule, local: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :タイトル %>
            <%= f.text_field :title, class: "form-control", id: "schedule_title" %>
          </div>
          <div class="form-group">
            <%= f.label :内容 %>
            <%= f.text_area :content, class: "form-control",id: "schedule_content" %>
          </div>
          <div class="form-group">
            <%= f.label :日時 %><br>
            <%= f.datetime_select :start_time,{},class: "form-control sch-time", style: 'display: inline-block;width: auto;'  %>
          </div>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "登録する", class:"btn btn-success", id: 'schedule_button', disabled: 'true' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script >
  var scheduleTitle = document.getElementById('schedule_title');
  var scheduleContent = document.getElementById('schedule_content');
  var scheduleButton = document.getElementById('schedule_button');
  
// タイトル、内容の順に入力する想定で、内容入力時に発火するにしている
  scheduleContent.addEventListener("keyup", () => {

    if (scheduleContent.value === '' && scheduleTitle.value === '' ) {

      scheduleButton.disabled = true;

    }else if(scheduleContent.value === '' || scheduleTitle.value === ''){
      scheduleButton.disabled = true;

    }else {

      scheduleButton.disabled = false;
    }
  });
// タイトル、内容の順に入力した後、タイトルだけを消した時にdisableを付与するため記述
  scheduleTitle.addEventListener("keyup", () => {

    if (scheduleContent.value === '' && scheduleTitle.value === '' ) {
      scheduleButton.disabled = true;
  
    }else if(scheduleContent.value === '' || scheduleTitle.value === ''){
      scheduleButton.disabled = true;

    }else {

      scheduleButton.disabled = false;
    }
  });

</script>