<!-- スケジュール入力のModal -->
<div class="col-12 tasks">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新規スケジュール</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_with model: @schedule, local: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :タイトル %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :内容 %>
            <%= f.text_area :content, class: "form-control",id: "schedule_content" %>
          </div>
          <div class="form-group">
            <%= f.label :日時 %><br>
            <%= f.datetime_select :start_time,{},class: "form-control sch-time", style: 'display: inline-block;width: auto;'  %>
          </div>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "登録する", class:"btn btn-success", id: 'schedule-button'%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script >

  const scheduleContent = document.getElementById('schedule_content');
  const scheduleButton = document.getElementById('schedule-button');
// const p = document.querySelector("#helper-text");


// keyupイベントを拾う
scheduleContent.addEventListener("keyup", () => {
 // inputの中身を正規表現でチェック
 if (scheduleContent.value === '') {
   // 成功した場合は、disabledをfalseに
   scheduleButton.disabled = false;
   
 } else {
   // 失敗した場合は、disabledをtrueに
   scheduleButton.disabled = true;
 }
});
        </script>