<!-- スケジュール入力のModal -->
<div class="col-12 tasks">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新規スケジュール</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_with model: @schedule, local: true, name: "content_form" do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :タイトル %>
            <%= f.text_field :title, class: "form-control", name: "content"%>
          </div>
          <div class="form-group">
            <%= f.label :内容 %>
            <%= f.text_area :content, class: "form-control", name: "content"%>
          </div>
          <div class="form-group">
            <%= f.label :日時 %><br>
            <%= f.datetime_select :start_time,{},class: "form-control sch-time", style: 'display: inline-block;width: auto;'  %>
          </div>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "登録する", class:"btn btn-success", onClick="return check();" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
            function check(){
                if (content_form.content.value == ""){
            
                    alert("入力して下さい");
                    return false;  
                }else{
                   
                    return true; 
                }
            }
        </script>