<div class="schedule-wrapper">
  <div class="schedule-header">
    <div class="schedule-edit">
      <h3>スケジュール編集</h3>
      <%= form_with model: @schedule, local: true do |f| %>
        <p><%= f.label "タイトル" %></p>
        <%= f.text_area :title %>
        <p><%= f.label "内容" %></p>
        <%= f.text_area :content %>
        <%= f.submit :編集, class: "btn-warning" %>
      <% end %>
    </div>
  </div>
  <%= link_to "前ページへ",schedules_path %>
</div>

