<div class="schedule-wrapper">
  <div class="schedule-header">
    <div class="schedule-edit">
    <h3>スケジュール編集</h3>
    <%= form_with model: @schedule, local: true do |f| %>
      <p><%= f.label "タイトル、人物など" %></p>
      <%= f.text_area :title %>
      <p><%= f.label "内容、場所など" %></p>
      <%= f.text_area :content %>
      <%= f.submit :編集 %>
    <% end %>
    </div>
  </div>
<%= link_to "前ページへ",schedules_path ,class: "mb-3 ml-3" %>
</div>
