<div class="schedule-wrapper">
    <div class="schedule-header">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    <small>投稿者:
                        <%= @schedule.user.user_name %></small>
                    <br>
                    <small>投稿日:
                        <%= l @schedule.created_at, format: '%Y年%-m月%-d日(%a)%H:%M' %></small>
                    <br>
                    <small>更新日:
                        <%= l @schedule.updated_at, format: '%Y年%-m月%-d日(%a)%H:%M' %></small>
                </p>
                <div class="card-header">
                    <p class="card-text">
                        日時: <%= l @schedule
        .start_time, format: '%Y年%-m月%-d日(%a)%H:%M' %>
                    </p>
                </div>
                <div class="card-header">
                    <p class="card-text">
                        <%= @schedule
        .title %>
                    </p>
                </div>
                <div class="card-header">
                    <p class="card-text"><small>
                            <%= simple_format @schedule.content %></small>
                    </p>
                </div>
                <%if @schedule.user.id==current_user.id %>
                <div class="schedule-btn">
                <button type="button"
                    class="btn btn-primary btn-sm mt-1"><%= link_to("内容の変更",edit_schedule_path)%></button>
                <button type="button"
                    class="btn btn-secondary  btn-sm mt-1"><%= link_to("削除",schedule_path, method: "delete", data: { confirm: "このスケジュールを削除しますか？"} )%></button>
                </div>
                <%else%>
                <div class="schedule-btn">
                <button type="button"
                    class="btn btn-primary btn-sm mt-1"><%= link_to("内容の変更",edit_schedule_path)%></button>
                </div>
                <%end%>
            </div>

            <%= link_to "前ページへ",schedules_path ,class: "mb-3 ml-3" %>
        </div>
    </div>
</div>