<%= image_tag asset_path("IMG_7626.jpg"), id: "top_img", class: "top-def" %>

<div class="login-wrapper">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "focus-text" autocomplete: "email" %>
    <span class="focus_line"></span>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="field login-checkbox">
    <p><%= f.check_box :remember_me %>ログインを保持する</p>
    <%# <%= f.label :remember_me %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログインする" %>
  </div>
  <% end %>
</div>

<div class="login-footer">
  <%= render "devise/shared/links" %>
</div>

<footer>
  <address class="footer-bottom">© 2021 RYOGYMAPP All rights reserved.</address>
</footer>

<script>
  window.setTimeout(() => {
    const topImg = document.getElementById('top_img')
    topImg.classList.add('top-img');
    topImg.classList.remove('top-def');
  }, 1000);
</script>