<footer class="" id="footer" id="to_bottom">
  <%= form_with model: @message, local: true do |f| %>
  <div class="form-group">
    <!-- ここは自動的に message_content というidが付く。 -->
    <%= f.text_area :content, class: 'form-control', rows: '1', maxlength: '500', id: 'msg_Content'%>
  </div>
  <div class="form-group">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        フォトを追加
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <%= f.label :フォト選んでください , class: "pl-3"%><br />
        <%= f.file_field :img, id: "img_name", class: "pl-3" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit '送信', class: 'btn btn-primary btn-block', id: 'message-button' ,disabled: 'true' %>
  </div>
  
  <% end %>
</footer>

<script>
  var msgContent = document.getElementById('msg_Content');
  var imgName = document.getElementById('img_name')
  var messageButton = document.getElementById('message-button');
  
// メッセージ入力したら、送信押せるようにする
  msgContent.addEventListener('input', () => {
    if (msgContent.value === '' && imgName.value ==='') {
      messageButton.disabled = true;
    }else if(msgContent.value === '' && imgName.value ===''){
      messageButton.disabled = true;
    } else {
      messageButton.disabled = false;
            // img_name.value ='';        
    }
  });

// 画像選択のみでも、送信押せるようにする
  imgName.addEventListener('input', () => {
    if (msgContent.value === '' && imgName.value ==='') {
      messageButton.disabled = true;
    }else if(msgContent.value === '' && imgName.value ===''){
      messageButton.disabled = true;
    } else {
      messageButton.disabled = false;
      // img_name.value ='';        
    }
  });

// 1MB以上のイメージはアラート出す
  // 制限サイズ
  var sizeLimit = 1024 * 1024 * 1;
  // input要素
  var fileInput = document.getElementById('img_name'); 
  var handleFileSelect = () => {
    var files = fileInput.files;
    for (let i = 0; i < files.length; i++) {
      if (files[i].size > sizeLimit) {
        // ファイルサイズが制限以上
        // エラーメッセージを表示
        alert('ファイルサイズは1MB以下にしてください');
        // inputの中身をリセットし、終了
        fileInput.value = ''; 
        messageButton.disabled = true;
        return; 
      }
    }
  }

  fileInput.addEventListener('change', handleFileSelect);
</script>
