<footer class="" id="footer" id="to_bottom">
  <%= form_with model: @message, local: true do |f| %>
  <div class="form-group">
    <!-- ここは自動的に message_content というidが付く。 -->
    <%= f.text_area :content, class: 'form-control', rows: '1', maxlength: '500' %>
  </div>
  <div class="form-group">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        フォトを追加
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <%= f.label :フォト選んでください , class: "pl-3"%><br />
        <%= f.file_field :img, id: "img_name", class: "pl-3" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit '送信', class: 'btn btn-primary btn-block', id: 'message-button' ,disabled: 'true' %>
  </div>
  
  <% end %>
</footer>

<script>
  const messageContent = document.getElementById('message_content');
  const imgName = document.getElementById('img_name')
  const messageButton = document.getElementById('message-button');
  
  messageContent.addEventListener('input', () => {
    if (messageContent.value === '' && imgName.value ==='') {
      messageButton.disabled = true;
    }else if(messageContent.value === '' && imgName.value ===''){
      messageButton.disabled = true;
    } else {
      messageButton.disabled = false;
            // img_name.value ='';        
    }
  });
  imgName.addEventListener('input', () => {
    if (messageContent.value === '' && imgName.value ==='') {
      messageButton.disabled = true;
    }else if(messageContent.value === '' && imgName.value ===''){
      messageButton.disabled = true;
    } else {
      messageButton.disabled = false;
            // img_name.value ='';        
    }
  });

// 1MB以上のイメージはアラート出す
  let sizeLimit = 1024 * 1024 * 1;　// 制限サイズ
　const fileInput = document.getElementById('img_name'); // input要素
　const handleFileSelect = () => {
    const files = fileInput.files;
    for (let i = 0; i < files.length; i++) {
      if (files[i].size > sizeLimit) {
        // ファイルサイズが制限以上
        alert('ファイルサイズは1MB以下にしてください'); // エラーメッセージを表示
        fileInput.value = ''; // inputの中身をリセット
        return; // この時点で処理を終了する
      }
    }
  }
  fileInput.addEventListener('change', handleFileSelect);
</script>