<footer class="" id="footer" id="to_bottom" onmouseover="over(this)">
  <%= form_with model: @message, local: false do |f| %>
  <div class="form-group">
    <!-- ここは自動的に message_content というidが付く。 -->
    <%= f.text_area :content, class: 'form-control', rows: '1', maxlength: '500' %>
  </div>
  <div class="form-group">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        フォトを追加
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <%= f.label :フォト選んでください , class: "pl-3"%><br />
        <%= f.file_field :img, id: "img_name", class: "pl-3" %>
      </div>
    </div>

  </div>
  <div class="form-group">
    <%= f.submit '送信', class: 'btn btn-primary btn-block', id: 'message-button' %>
  </div>
  <% end %>
  </div>

  <% if flash[:alert] %>
  <div class="flash alert alert-secondary">
    <%= flash[:alert] %>
  </div>
  <% end %>
</footer>

<script>
  let scrollBottom = document.getElementById('to_bottom');
  let element = document.documentElement;
  function over() {
    let toBottom = element.scrollHeight - element.clientHeight;
    window.scroll(0, toBottom);
  }
  const sizeLimit = 1024 * 1024 * 1;　// 制限サイズ
　const fileInput = document.getElementById('img_name'); // input要素
　const handleFileSelect = () => {
  const files = fileInput.files;
  for (let i = 0; i < files.length; i++) {
    if (files[i].size > sizeLimit) {
      // ファイルサイズが制限以上
      alert('ファイルサイズは1MB以下にしてください'); // エラーメッセージを表示
      fileInput.value = ''; // inputの中身をリセット
      return; // この時点で処理を終了する
    }
  }
}
</script>