<div class="users-index">
  <div class="user-image">
    <% if current_user.img? %>
      <img src="<%= current_user.img %>">
    <% else %>
      <%= image_tag asset_path("IMG_3001.jpg") %>
    <% end %>
  </div>
    <h2 style="color:<%=current_user.color%>"><%=@user.user_name%></h2>
  
  <div class="main-menu">
    <ul class="card-group">
      <li class="card">
      <%= link_to(attends_path, method: :post,data: { confirm: "出席しますか？" }) do %>
        <span><i class="fas fa-user-check icon-size"></i></span>
        出席
      </li>
      <% end %>
      <li class="card">
        <%= link_to("/rooms/#{current_user.id}") do %>
        <span><i class="far fa-comments icon-size"></i></span>
        チャット
      </li>
      <% end %>
      <li class="card">
        <%= link_to(schedules_path) do %>
        <span><i class="far fa-calendar-alt icon-size"></i></span>
        スケジュール
      </li>
      <% end %>
      <li class="card">
        <%= link_to(tasks_path) do %>
        <span><i class="fas fa-tasks icon-size"></i></span>
        タスク
      </li>
      <% end %>
      <li class="card">
        <%= link_to("/attends") do %>
        <span><i class="fas fa-graduation-cap icon-size"></i></span>
        出席表
      </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
<% if @user.id == 5 %>
<% @users.each do |user| %>
<% if user.user_name==nil %>
  <div class="users-list shadow p-3 mb-1 mt-1 bg-light rounded">
    <p><%= user.id%>.<%= user.user_name%><a>NO NAME</a></p>
    <p><%= user.email%></p>
  </div>
<%else%>
  <div class="users-list shadow p-3 mb-1 mt-1 bg-light rounded">
    <p><%= user.id%>.<%= user.user_name%></p>
    <p><%= user.email%></p>
  </div>
<%end%>
<%end%>

<%else%>

<% @users.each do |user| %>
<% if user.user_name==nil %>
  <div class="users-index-item shadow p-3 mb-1 bg-light rounded">
    <p><%= user.id%>.<%= user.user_name%><a>NO NAME</a></p>
  </div>
<%else%>
  <div class="users-index-item shadow p-3 mb-1 bg-light rounded">
    <p><%= user.id%>.<%= user.user_name%></p>
  </div>
<%end%>
<%end%>

<%end%>