<div class="users-index">
  <div class="user-image">
    <% if current_user.img? %>
      <img src="<%= current_user.img %>">
    <% else %>
      <%= image_tag asset_path("IMG_3001.jpg") %>
    <% end %>
  </div>
    <h2 style="color:<%=current_user.color%>"><%=@user.user_name%></h2>
  
  <div class="main-menu">
    <ul class="card-group">
      <li class="card close-time">
      <%= link_to(attends_path, id: "attend-btn", method: :post,data: { confirm: "出席しますか？" }) do %>
        <span><i class="fas fa-user-check icon-size"></i></span>
        出席
      </li>
      <% end %>
      <li class="card">
        <%= link_to("/rooms/#{current_user.id}") do %>
        <span><i class="far fa-comments icon-size"></i></span>
        チャット
      </li>
      <% end %>
      <li class="card">
        <%= link_to(schedules_path) do %>
        <span><i class="far fa-calendar-alt icon-size"></i></span>
        スケジュール
      </li>
      <% end %>
      <li class="card">
        <%= link_to(tasks_path) do %>
        <span><i class="fas fa-tasks icon-size"></i></span>
        タスク
      </li>
      <% end %>
      <li class="card">
        <%= link_to("/attends") do %>
        <span><i class="fas fa-graduation-cap icon-size"></i></span>
        出席表
      </li>
      <% end %>
    </ul>
  </div>
</div>
</div>

<% if @user.id == 1 %>
<% @users.each do |user| %>
<% if user.user_name==nil %>
  <div class="users-list shadow p-3 mb-1 mt-1 bg-light rounded" style="background-color:<%=user.color%>">
    <p><%= user.id%>.<%= user.user_name%><a>NO NAME</a></p>
    <p><%= user.email%></p>
  </div>
<%else%>
  <div class="users-list shadow p-3 mb-1 mt-1 bg-light rounded" style="background-color:<%=user.color%>">
    <p><%= user.id%>.<%= user.user_name%></p>
    <p><%= user.email%></p>
  </div>
<%end%>
<%end%>

<%else%>

<% @users.each do |user| %>
<% if user.user_name==nil %>
  <div class="users-index-item shadow p-3 mb-1 bg-light rounded" style="background-color:<%=user.color%>">
    <p><%= user.id%>.<%= user.user_name%><a>NO NAME</a></p>
  </div>
<%else%>
  <div class="users-index-item shadow p-3 mb-1 bg-light rounded" style="background-color:<%=user.color%>">
    <p><%= user.id%>.<%= user.user_name%></p>
  </div>
<%end%>
<%end%>

<%end%>

<script>
// 営業時間外は出席ボタンを押せないようにする
    var currentTime = new Date().getHours();
    var closeTime = document.getElementsByClassName('close-time');
    var attendBtn = document.getElementById('attend-btn')
// 営業時間外にページがロードされた時の処理
// AM0:00からAM8:59は出席できない
window.addEventListener('load',()=>{
    if (0 <= currentTime && currentTime <= 8){
      closeTime[0].classList.add('closed-hours');
      attendBtn.disabled = true;
    }
});
// 営業時間外に出席ボタンを押した時の処理
    attendBtn.addEventListener('click',()=>{
    if (0 <= currentTime && currentTime <= 8){
      alert('営業時間外です')
      closeTime[0].classList.add('closed-hours');
      attendBtn.disabled = true;
    }
});

</script>
