<div class="attend-wrapper">
  <h1 style="color:<%=current_user.color%>"><%= @user_name %></h1>
  <div class="attend-container">

    <%= link_to(attends_path, method: :post, class: "btn btn-success btn-lg btn-block",data: { confirm: "出席しますか？" }) do %>
    <div>出席</div>
    <% end %>
    <%= link_to("/attends/#{@user.id}", class: "btn btn-primary btn-lg btn-block mt-2") do %>
    <div>個人出席</div>
    <% end %>
    <%= link_to("/attends/total", class: "btn btn-primary btn-lg btn-block mt-2") do %>
    <div>全体出席</div>
    <% end %>
  </div>
  <div class="attend-container">
    <%= render 'attend' %>
  </div>
  <% @attends_recently.each do |attend|%>
  <div class="card-header btn-warning">
    <h5>
      <%= link_to attend.created_at.strftime('%Y/%m/%d %H:%M:%S'),"/attends/#{attend.id}",method: :delete, data: { confirm: "この出席を削除しますか？" } %>
    </h5>
  </div>
  <%end%>
</div>