<div class="attend-wrapper">
  <h1 style="color:<%=current_user.color%>"><%= @user_name %></h1>
  <div class="attend-container">

    <%= link_to(attends_path, method: :post, id: "attend-btn", class: "btn btn-success btn-lg btn-block close-time",data: { confirm: "出席しますか？" }) do %>
    <div>出席</div>
    <% end %>
    <%= link_to("/attends/#{@user.id}", class: "btn btn-color btn-lg btn-block mt-2") do %>
    <div>個人出席</div>
    <% end %>
    <%= link_to("/attends/total", class: "btn btn-color btn-lg btn-block mt-2") do %>
    <div>全体出席</div>
    <% end %>
  </div>
  <div class="attend-container">
    <%= render 'attend' %>
  </div>
  <% @attends_recently.each do |attend|%>
  <div class="attend-list card-header btn-warning">
    <h5>
      <%= link_to attend.created_at.strftime('%Y/%m/%d %H:%M:%S'),"/attends/#{attend.id}",method: :delete, data: { confirm: "この出席を削除しますか？" } %>
    </h5>
  </div>
  <%end%>
</div>

<script>
// 営業時間外は出席ボタンを押せないようにする
    var currentTime = new Date().getHours();
    var closeTime = document.getElementsByClassName('close-time');
    var attendBtn = document.getElementById('attend-btn')
// 営業時間外にページがロードされた時の処理
// AM0:00からAM8:59は出席できない
    window.addEventListener('load',()=>{
    if (0 <= currentTime && currentTime <= 8){
      closeTime[0].classList.add('closed-hours');
      attendBtn.disabled = true;
    }
});
// 営業時間外に出席ボタンを押した時の処理
    attendBtn.addEventListener('click',()=>{
    if (0 <= currentTime && currentTime <= 8){
      alert('営業時間外です')
      closeTime[0].classList.add('closed-hours');
      attendBtn.disabled = true;
    }
});

</script>
