<div class="card-header attend-top">
  <h5>本日 <%=@day_counts %> 名</h5>
</div>

<div class="schedule-wrapper col-12">
  <%= month_calendar events: @attend_name do |date,attends| %>
  <%= date.day %>

  <% attends.each do |attend| %>
  <div class="attend-name" style="background-color:<%= attend.user.color %>">

    <div> 
      <%= link_to attend.user_name,"/attends/#{attend.id}/detail" %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>