<div class="card-header  attend-top">
  <h5>本日 <%=@day_counts %> 名</h5>
</div>

<% @day_name.each do |day_name|%>
  <div class="card-header attend-wrapper" style="background-color:<%= attend.user.color%>" >
    <p><%=day_name.first %></p>
    <p><%=l day_name.second,format:'%Y年%-m月%-d日(%a) %H:%M'%></p>
  </div>
<%end%>

<div class="schedule-wrapper col-12">
  <%= month_calendar events: @attend_name do |date,attends| %>
    <%= date.day %>

   <% attends.each do |attend| %>
      <div class="attend-name">
        <% if attend.user_name==nil%>
          <P class="mb-0 mt-0">ユーザー</P>
        <% else %>
        <div>
          <%= attend.user_name.slice(0..2) %>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
